<h1>Admin Page for ALL DA USERS</h1>
<table class="table table-striped table-bordered">
  <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Can login</th>
    <th>Admin Status</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%= form_for user do |f| %>
          <td><%= f.text_field :username %></td>
          <td><%= f.text_field :email %></td>
          <td><%= f.check_box :can_login %></td>
          <td><%= f.check_box :admin %></td>
          <%= f.submit "Save", :style => "display: none"%>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>
