<h1><%= @user.username %>'s account</h1>
<table class="table table-striped table-bordered">
  <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Date Joined</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= @user.created_at.localtime %></td>
    </tr>
  </tbody>
</table>

<div class="btn-grp">
  <%= (link_to "Edit Profile", edit_user_path, :class => "btn btn-default") if @user == current_user %>
  <%= (link_to "Create new blog post!", new_user_post_path(@user), :class => "btn btn-default") if @user == current_user %>
  <%= link_to "See blog posts!", user_posts_path(@user), :class => "btn btn-default" %>
  <%= (link_to "Create blog!", new_user_feed_path(@user), :class => "btn btn-default") if (@user == current_user) && !has_feed?(current_user) %>
  <%= link_to "Update blog info!", edit_user_feed_path(@user, @user.feed), :class => "btn btn-default" \
  if (@user == current_user) && has_feed?(current_user) %>
</div>
