<h1>Write a new post.</h1>
<body>
    <%= form_for [:user, @post] do |f| %>
      <form>
          <div class="form-group">
            <%= f.label :title, :class => 'col-sm-2 control-label' %>
              <%= f.text_field :title, :class => 'form-control' %>
        </div>
          <div class="form-group">
            <%= f.label 'Write your blog post below!',
              :class => 'control-label' %>
              <%=f.text_area :body, :class => 'form-control' %>
        </div>
        <%= f.submit "Create Post", :class => 'submit-button' %>
      </form>
    <% end %>
</body>

